### Sentiment Analysis either posititve or negative
#### We use here word-wise computation using the concept of bucketing

In [1]:
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns
import datetime
import spacy
import sklearn

import torch
import torch.nn as nn
from torch.autograd import Variable
import torch.nn.functional as F

In [2]:
# f = open('../../data/sentiment/positive')
# pos = f.read()
# f.close()

# f = open('../../data/sentiment/negative')
# neg = f.read()
# f.close()
spacy.load

In [7]:
# Load Spacy word embeddings
#word_embeddings = spacy.load('en', vectors='glove.6B.50d.txt')
word_embeddings =spacy.load('en_core_web_md')
print word_embeddings
q= word_embeddings(u'laptop')
print q.vector.shape

<spacy.lang.en.English object at 0x7f492744ebd0>
(300,)

 ### Theory fot this block
 
 Okay. So say your sequence has 16 words, but your bucket is 10-20 words. In seq_to_data you want to make your sequence’s length equal to 20. So you do padding for the remaining 4 words.


In seq_data_matrix, you bucketing the sequences and are concatenating same-length sequences into one matrix for each bucket.


It had 6 words and you added padding for the remains 94 words.

Yes. So for 0 to 5, you added word embeddings from your sequence. Remaining are zero because data_mat = np.zeros()

 Okay. For a moment, forget that data_mat has shape 1,100,300. Say it’s shape is 100,300.
 Now if I perform the same operation, data_mat’s first row will be substituted by the first row of data.
 Since data also has 300 columns, it will fit easily.

In [38]:
# Create a function to get vector format data for a sequence
#for one batch computation
def sequence_to_data(seq, max_len=None):
    seq = unicode(seq)
    #print seq
    #print seq.split()        #[u'hello!', u'what', u'is', u'the', u'date', u'today?']
    data = [word_embeddings(ix).vector for ix in seq.split()] #Split the sequence on the basis of words and 
    #take vector of those words from word_embeddings glove now data have vectors of words
    #print len(data)         # data contain 6 length vector of 6 words
    #print data[3].shape   #(300,)         # 6 because here we do word wise computation
    if max_len is None:
        max_len = len(data)
    
    data_mat = np.zeros((1, max_len, 300))  #(1,100,300) matrix of size this (1=batch,100 seq lenght and 300 features )
    #print min(len(data),max_len)       # 6
    for ix in range(min(len(data), max_len)):  #Here concept of bucketing we take max_len of bucket 
        data_mat[:, ix, :] = data[ix]
        #print data_mat.shape                  #(1, 100, 300)
    
    return data_mat

#For multiple batch consists of varying length sequence
def seq_data_matrix(seq_data, max_len=None):          #This fucntion is for processing multibatch at atime means in a multiple batch have multipl e length sequences
    n_seq = len(seq_data)
    #print n_seq
    data = np.concatenate([sequence_to_data(ix, max_len) for ix in seq_data], axis=0)
    #print data.shape
    return data
    
q = sequence_to_data(u'hello! what is the date today?', 100)
print q.shape
#m= seq_data_matrix(u'hello! what is the date today?',100)
#print m.shape

(1, 100, 300)

In [ ]:
# df = pd.DataFrame([], columns=['text', 'score'])
# for ix in pos.split('\n'):
#     text = ix.strip().lower()
#     if len(text) > 1:
#         df = df.append({'text': text, 'score': 1}, ignore_index=True)
#     # print sequence_to_data(ix.strip().lower()).shape

# for ix in neg.split('\n'):
#     text = ix.strip().lower()
#     if len(text) > 1:
#         df = df.append({'text': text, 'score': 0}, ignore_index=True)

In [40]:
#df = sklearn.utils.shuffle(df).reset_index(drop=True) 

#This is required because we build a dataframe own #
#its own in which at top enteries will be of poditive and botton enteries of sentiments are -ve means class (0) 
#so if we didnt shuffle then our model most of time gives the same ansuwer that is +ve because it becme
#familiar with +v eneteries that why we going to shuffle them


df = pd.read_csv('/home/chintan/Class_Code/Class17(LSTMS continue)/imdb_tr.csv')#, sep='|')#, index_col=0)

In [11]:
df.head()
df

       row_Number                                               text  polarity
0            2148  first think another Disney movie, might good, ...         1
1           23577  Put aside Dr. House repeat missed, Desperate H...         0
2            1319  big fan Stephen King's work, film made even gr...         1
3           13358  watched horrid thing TV. Needless say one movi...         0
4            9495  truly enjoyed film. acting terrific plot. Jeff...         1
5            2154  memory "The Last Hunt" stuck since saw 1956 13...         1
6           19880  Shakespeare fan, appreciate Ken Branagh done b...         0
7            2073  privilege watching Scarface big screen beautif...         1
8           12001  real classic. shipload sailors trying get town...         1
9            9373  Serials short subjects originally shown theate...         1
10          19704  strange sex comedy there`s little comedy whole...         0
11          20033  many problems film, worst continuity; re-editi...         0
12          21530  Rosie wasted lot TV time talking Tainos super ...         0
13           6972  Man, people got chill. movie artistic genius. ...         1
14           5145  great movie could Soylent Green. scenes people...         1
15           2317  Wonderful family drama/comedy starring MacClai...         1
16           6140  "Ko tamo peva" one best films ever saw. tragic...         1
17           4585  quite long time life, either like film, liked ...         1
18           1673  "Kolchak" TV series really didn't fit category...         1
19           3930  It's rare find literary work adequately transl...         1
20          18860  awful, awful! old room mate used watch junk dr...         0
21           3156  mom recently become addicted show, laughing bu...         1
22           8187  okay, plain dumb. bad horror/comedy film. read...         1
23           1603  film mesmerizing beauty creativity. artist's p...         1
24          19945  Filmfour going lot better little snot film the...         0
25          20089  60s (1999) D: Mark Piznarski. Josh Hamilton, J...         0
26          19381  show suck? Unfortunately, really question, dou...         0
27           4685  Sometimes want laugh. Don't you? analyzing, cr...         1
28          23539  anti-bush jokes get really easy do, show like ...         0
29          20356  others noted, excellent Hammer-style film, see...         0
...           ...                                                ...       ...
24970        5900  almost ideal romantic anime! MUST SEE AGES! En...         1
24971        6935  Unfortunately, film long unavailable (as poste...         1
24972       16838  **1/2 Diane Keaton farce.<br /><br />Someone t...         0
24973        9734  Film looking glass see world new light. Good N...         1
24974       18862  empty lack lustre rendition classic novel. wis...         0
24975       21220  movie good example extreme lack good writers d...         0
24976        9160  movie really great flick something affects us ...         1
24977       13274  Darkling interesting entertaining film F. Murr...         0
24978        5337  Marlon Brando Frank Sinatra HATED film years f...         1
24979       19197  2004, liked it. became stupid. suggests kids b...         0
24980       15288  avoid making type film future. film interestin...         0
24981        2999  Wow... 5 hours Riget. Lars continues great com...         1
24982        5790  Marvelous James Stewart, Vera Miles vehicle. m...         1
24983       14570  characters depth-less rip offs. you've seen ch...         0
24984       10232  countless talking-animal films past, majority ...         1
24985        6911  absurdist dark comedy Belgium. Shot perfectly ...         1
24986       11510  nice see Suraj Barjatya back best at.A story w...         1
24987       12907  movie poorly written, poorly acted predictable...         0
24988        3679  unpretentious Horror film probably destined be...         1
24989         546  saw Saving Grace right came video. Since it's ...         1
24990        8664  Taking old collection stories poses challenge ...         1
24991        5382  movie made want become director, Michelle Rodr...         1
24992       14732  video thing. think fourth attempt managed watc...         0
24993        1983  almost typical Lynch. However, makes film slig...         1
24994       22790  really must caught different film rest comment...         0
24995       20009  kid 50's 60's anything connected Disney defini...         0
24996        9553  course reading review seen film already. 'Raja...         1
24997       16744  read "There's Girl Soup" came Peter Sellers's ...         0
24998       22896  film quite boring. snippets naked flesh tossed...         0
24999        7334  Although film somewhat filled eighties cheese ...         1

[25000 rows x 3 columns]

### Just an example to understand the concept of .apply function

In [12]:
a = pd.DataFrame([], columns=['x'])

for ix in range(100):
    a = a.append({'x': ix}, ignore_index=True)
#print a

In [13]:
a['x_sq'] = a.x.apply(lambda x: x**2)
a.head()

   x  x_sq
0  0     0
1  1     1
2  2     4
3  3     9
4  4    16

In [14]:
## Original code

In [15]:
#Drop a column
col_to_drop=['row_Number']
df=df.drop(col_to_drop,axis=1)

In [16]:
df.head()

                                                text  polarity
0  first think another Disney movie, might good, ...         1
1  Put aside Dr. House repeat missed, Desperate H...         0
2  big fan Stephen King's work, film made even gr...         1
3  watched horrid thing TV. Needless say one movi...         0
4  truly enjoyed film. acting terrific plot. Jeff...         1

In [17]:
#df= pd.DataFrame(polarity ,dtype='float')

In [18]:
df['len'] = df['text'].str.split().apply(lambda x: len(x))
# df = df.sort_index(ascending=False).reset_index(drop=True)

In [19]:
df.head()
df

                                                    text  polarity  len
0      first think another Disney movie, might good, ...         1   52
1      Put aside Dr. House repeat missed, Desperate H...         0   86
2      big fan Stephen King's work, film made even gr...         1  193
3      watched horrid thing TV. Needless say one movi...         0   63
4      truly enjoyed film. acting terrific plot. Jeff...         1   65
5      memory "The Last Hunt" stuck since saw 1956 13...         1   43
6      Shakespeare fan, appreciate Ken Branagh done b...         0   41
7      privilege watching Scarface big screen beautif...         1  331
8      real classic. shipload sailors trying get town...         1   25
9      Serials short subjects originally shown theate...         1  124
10     strange sex comedy there`s little comedy whole...         0   77
11     many problems film, worst continuity; re-editi...         0  165
12     Rosie wasted lot TV time talking Tainos super ...         0  190
13     Man, people got chill. movie artistic genius. ...         1   59
14     great movie could Soylent Green. scenes people...         1   30
15     Wonderful family drama/comedy starring MacClai...         1  150
16     "Ko tamo peva" one best films ever saw. tragic...         1   66
17     quite long time life, either like film, liked ...         1  177
18     "Kolchak" TV series really didn't fit category...         1  127
19     It's rare find literary work adequately transl...         1  112
20     awful, awful! old room mate used watch junk dr...         0   70
21     mom recently become addicted show, laughing bu...         1   66
22     okay, plain dumb. bad horror/comedy film. read...         1   60
23     film mesmerizing beauty creativity. artist's p...         1   71
24     Filmfour going lot better little snot film the...         0  163
25     60s (1999) D: Mark Piznarski. Josh Hamilton, J...         0   79
26     show suck? Unfortunately, really question, dou...         0  219
27     Sometimes want laugh. Don't you? analyzing, cr...         1   30
28     anti-bush jokes get really easy do, show like ...         0   75
29     others noted, excellent Hammer-style film, see...         0   57
...                                                  ...       ...  ...
24970  almost ideal romantic anime! MUST SEE AGES! En...         1   15
24971  Unfortunately, film long unavailable (as poste...         1   67
24972  **1/2 Diane Keaton farce.<br /><br />Someone t...         0  182
24973  Film looking glass see world new light. Good N...         1  577
24974  empty lack lustre rendition classic novel. wis...         0  100
24975  movie good example extreme lack good writers d...         0  155
24976  movie really great flick something affects us ...         1   80
24977  Darkling interesting entertaining film F. Murr...         0  203
24978  Marlon Brando Frank Sinatra HATED film years f...         1   60
24979  2004, liked it. became stupid. suggests kids b...         0   70
24980  avoid making type film future. film interestin...         0   53
24981  Wow... 5 hours Riget. Lars continues great com...         1  460
24982  Marvelous James Stewart, Vera Miles vehicle. m...         1  111
24983  characters depth-less rip offs. you've seen ch...         0  104
24984  countless talking-animal films past, majority ...         1  164
24985  absurdist dark comedy Belgium. Shot perfectly ...         1  108
24986  nice see Suraj Barjatya back best at.A story w...         1   94
24987  movie poorly written, poorly acted predictable...         0   62
24988  unpretentious Horror film probably destined be...         1   19
24989  saw Saving Grace right came video. Since it's ...         1   68
24990  Taking old collection stories poses challenge ...         1   96
24991  movie made want become director, Michelle Rodr...         1   27
24992  video thing. think fourth attempt managed watc...         0   88
24993  almost typical Lynch. However, makes film slig...         1  103
24994  really must caught different film rest comment...         0  106
24995  kid 50's 60's anything connected Disney defini...         0   57
24996  course reading review seen film already. 'Raja...         1  106
24997  read "There's Girl Soup" came Peter Sellers's ...         0   68
24998  film quite boring. snippets naked flesh tossed...         0   52
24999  Although film somewhat filled eighties cheese ...         1   59

[25000 rows x 3 columns]

In [36]:
data=df
data.text= data.text.decode('utf-8')
# df.to_csv('../../data/sentiment/dataset.csv', sep='|')

AttributeError: 'Series' object has no attribute 'decode'

In [21]:
bucket_sizes = [[0, 30], [30, 60], [60, 90], [90, 120], [120, 200],[200,250]] # we make different bucket sizes based on analysis of data
#print len(bucket_sizes)  #5
#for i in bucket_sizes:
#    print i[1]

#This function is useed to assign the bucket indices for each sequence length
def assign_bucket(x):   
    for bucket in bucket_sizes:                       #One by one access all buckets
        if x > bucket[0] and x <= bucket[1]:          #based on given length and this condtion 
            return bucket_sizes.index(bucket)         #Succesfully returs the bucket index at which a=the seq length falls
    return len(bucket_sizes)-1

In [22]:
#x= assign_bucket()

In [23]:
df['bucket'] = df.len.apply(assign_bucket)
df.head()

                                                text  polarity  len  bucket
0  first think another Disney movie, might good, ...         1   52       1
1  Put aside Dr. House repeat missed, Desperate H...         0   86       2
2  big fan Stephen King's work, film made even gr...         1  193       4
3  watched horrid thing TV. Needless say one movi...         0   63       2
4  truly enjoyed film. acting terrific plot. Jeff...         1   65       2

In [24]:
df = df.sort_values(by=['bucket'])
df.head()

,text,polarity,len,bucket
18991,anybody succeed getting movie?<br /><br />It's...,0,27,0
18839,"definite Lars von Trier Movie, favorite, rank ...",1,23,0
2623,attractive capable cast lost deadly boring reh...,0,23,0
8111,"disappointed movie like french actors liked ""B...",0,20,0
18792,"I've seen 820 movies released 1931-39, INFORME...",0,27,0

In [25]:
df[(df.bucket == 0)]      # For only those sequences which fall in bucket 0 means whose seq length is [0,10]

,text,polarity,len,bucket
18991,anybody succeed getting movie?<br /><br />It's...,0,27,0
18839,"definite Lars von Trier Movie, favorite, rank ...",1,23,0
2623,attractive capable cast lost deadly boring reh...,0,23,0
8111,"disappointed movie like french actors liked ""B...",0,20,0
18792,"I've seen 820 movies released 1931-39, INFORME...",0,27,0
18778,"Grey Gardens shocking, amusing, sad mesmerizin...",1,27,0
8187,"Ok,so.....guy gets bitten bat turns bat (well,...",0,24,0
18704,rated 3. dubbing bad seen. plot - yuck. I'm su...,0,29,0
18683,"one favourite movies time. dialogue, constant ...",1,23,0
8214,remember movie 50s college. one funniest satir...,1,20,0
18631,"felt asleep, watching it!!! (and tickets midni...",0,16,0
18606,skeptical sacrificing precious time watch film...,0,26,0
8261,"enjoy film, thought ended old fashioned love s...",1,26,0
2588,Liked Stanley & Iris much. Acting good. Story ...,1,25,0
8299,"little screen time money, Dan Katzir manages m...",1,18,0
8305,"pure reality bytes film. Fragile, beautiful am...",1,22,0
18506,Story starts slow nothing funny happens while....,0,30,0
18455,pointless movie nothing gratuitous violence. f...,0,23,0
8429,really enjoyed movie. script fresh unpredictab...,1,22,0
18336,movie good remember young maked snow castle. f...,1,22,0
18345,definitely worst movie Adam's ever done point ...,0,26,0
18366,"horrible film! gave 2 Points, one Angelina Jol...",0,30,0
18379,"fun! Bucketfuls good humor, terrific cast chem...",1,22,0
8373,"Weak, fast multicolor,this Valvoline's movie f...",1,28,0
18849,"looks creators ""The Class Nuke 'Em High"" wante...",0,28,0
1040,Farrah Fawcett gives best performance actress ...,1,25,0
18404,"disgustingly made low-budget bad-acted movie, ...",0,29,0
8358,"Laughs, adventure, good time, killer soundtrac...",1,26,0
18424,"refreshing story, life parrot intellect higher...",1,25,0
8341,movie big Car Commercial. :-)<br /><br />But c...,1,24,0
...,...,...,...,...
21735,saw movie Mystery Science Theater 300. sucked ...,0,23,0
51,"Shallow, shallow script ...stilted acting ...t...",0,29,0
5927,really disappointed movie. voted thing 10 scre...,0,24,0
21302,movie great like story. prefer movie movie cel...,1,28,0
3427,one funniest movies ever seen. know Real World...,1,29,0
5922,"would given one instead two, suppose COULD wor...",0,29,0
24991,"movie made want become director, Michelle Rodr...",1,27,0
24988,unpretentious Horror film probably destined be...,1,19,0
24780,"Good work everyone, scriptwriters, director, c...",1,25,0
3506,"enjoyed story itself, things learned WWI Plane...",1,25,0
21298,<br /><br />A friend mine enjoys watching wors...,0,30,0
5753,certainly worst movie ever saw? beginning some...,0,30,0
6034,People love original story ending. Hollywood s...,0,26,0
550,"seen film countless occasions, thoroughly enjo...",1,25,0
6069,"delightful somewhat predictable TV movie, thou...",1,28,0
5909,"best thing movie was, uh, well, can't think an...",0,27,0
21559,"Apart Helen Bonham Carter, nothing worthy movi...",0,19,0
5919,"admit it's silly, I've practically memorized d...",1,22,0
68,"Boring, badly written Italian exploitation fli...",0,22,0
5977,movie funny. Amitabh Bachan Govinda absolutely...,1,24,0
24641,Giant crabs cursing Japanese? drink? terrible ...,0,19,0
21745,"scenery pretty dog cute. that, film absolutely...",0,30,0
24588,think movie neat. eithier like Michael Jackson...,1,29,0
3491,great movie watch young children. I'm always l...,1,24,0
24585,Considering big name cast lavish production ex...,1,27,0
3567,One best records Israel's response murder Rabi...,1,22,0
21761,Unwatchable. can't even make past first three ...,0,13,0
6038,Michael King. film contains best stuff Mike ev...,1,23,0
522,"Billy Crystal normally brings crowd laughter, ...",0,20,0
5869,Ludicrous violations basic security regs begin...,0,23,0

### Now make the batch

In [26]:
def make_batch(data, batch_size=10, gpu=True):  #data= df
    for bx in range(len(bucket_sizes)):
        bucket_data = df[(df.bucket == bx)].reset_index(drop=True)
        # print bx, bucket_sizes[bx][1], bucket_data.shape
        
        start = 0
        stop = start + batch_size
        
        while start < bucket_data.shape[0]:
            seq_length = bucket_sizes[bx][1]
            section = bucket_data[start:stop]
            X_data = seq_data_matrix(section.text, max_len=seq_length)
            y_data = section.score
            
            if gpu:
                yield Variable(torch.FloatTensor(X_data), requires_grad=True), Variable(torch.LongTensor(y_data))#.cuda()
            else:
                yield Variable(torch.FloatTensor(X_data), requires_grad=True), Variable(torch.LongTensor(y_data))
            
            start = stop
            stop = start + batch_size

In [27]:
for ix, iy in make_batch(df, batch_size=1000):
    print ix.shape, iy.shape

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 150: ordinal not in range(128)

In [16]:
# df.head(10)
# Printing colored text (Useful later)
# print colored("hello red world", 'blue')# print 'a'

In [26]:
class SeqModel(nn.Module):
    def __init__(self, in_shape=None, out_shape=None, hidden_shape=None):
        super(SeqModel, self).__init__()
        self.in_shape = in_shape
        self.out_shape = out_shape
        self.hidden_shape = hidden_shape
        self.n_layers = 1
        
        self.rnn = nn.LSTM(
            input_size=self.in_shape,
            hidden_size=self.hidden_shape,
            num_layers=self.n_layers,
            batch_first=True
        )
        self.lin = nn.Linear(self.hidden_shape, 64)
        self.dropout = nn.Dropout(0.42)
        self.out = nn.Linear(64, self.out_shape)
    
    def forward(self, x, h):
        r_out, h_state = self.rnn(x, h)
        last_out = r_out[:, -1, :]
        y = F.tanh(self.lin(last_out))
        y = self.dropout(y)
        y = F.softmax(self.out(y))
        return y
    
    def predict(self, x):
        h_state = self.init_hidden(1, gpu=False)
        
        x = sequence_to_data(x)
        pred = self.forward(torch.FloatTensor(x), h_state)
        
        return pred
    
    def get_embedding(self, x):
        h_state = self.init_hidden(1, gpu=False)
        
        x = sequence_to_data(x)
        r_out, h = self.rnn(torch.FloatTensor(x), h_state)
        last_out = r_out[:, -1, :]
        
        return last_out.data.numpy()
            
    def init_hidden(self, batch_size, gpu=True):
        if gpu:
            return (Variable(torch.zeros(self.n_layers, batch_size, self.hidden_shape).cuda()),
                    Variable(torch.zeros(self.n_layers, batch_size, self.hidden_shape)).cuda())
        return (Variable(torch.zeros(self.n_layers, batch_size, self.hidden_shape)),
                Variable(torch.zeros(self.n_layers, batch_size, self.hidden_shape)))

In [48]:
model = SeqModel(in_shape=300, hidden_shape=256, out_shape=2)

print model
model.cuda()

SeqModel(
  (rnn): LSTM(300, 256, batch_first=True)
  (lin): Linear(in_features=256, out_features=64, bias=True)
  (dropout): Dropout(p=0.42)
  (out): Linear(in_features=64, out_features=2, bias=True)
)

SeqModel(
  (rnn): LSTM(300, 256, batch_first=True)
  (lin): Linear(in_features=256, out_features=64, bias=True)
  (dropout): Dropout(p=0.42)
  (out): Linear(in_features=64, out_features=2, bias=True)
)

In [49]:
# model.predict('hello bad world')

# Load the model
model.load_state_dict(torch.load('/home/shubham/all_projects/CB/Summer_2018/data/checkpoints/seq_lstm_bucket/model_256h_epoch_700.ckpt'))

In [34]:
optimizer = torch.optim.Adam(model.parameters(), lr=0.0003)
criterion = nn.CrossEntropyLoss()

In [35]:
# Set to train mode
# model.cuda()
model.train()

for epoch in range(50):
    total_loss = 0
    N = 0
    for step, (b_x, b_y) in enumerate(make_batch(df, batch_size=200)):
        # print step, b_x.shape, b_y.shape
        bsize = b_x.size(0)
        
        h_state = model.init_hidden(bsize, gpu=True)

        pred = model(b_x, h_state)
        loss = criterion(pred, b_y)
        
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        
        total_loss += loss
        N += 1.0
        if step%20 == 0:
            print 'Loss: {} at Epoch: {} | Step: {}'.format(loss, epoch, step)
        
    print "Overall Average Loss: {} at Epoch: {}".format(total_loss / float(N), epoch)
    
    # Save model checkpoints
    if epoch % 10 == 0:
        torch.save(model.state_dict(), "/home/shubham/all_projects/CB/Summer_2018/data/checkpoints/seq_lstm_bucket/model_256h_epoch_{}.ckpt".format(epoch))

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:24: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.

Loss: 0.69742333889 at Epoch: 0 | Step: 0
Loss: 0.69163531065 at Epoch: 0 | Step: 20
Loss: 0.692053377628 at Epoch: 0 | Step: 40
Overall Average Loss: 0.694422006607 at Epoch: 0
Loss: 0.692090451717 at Epoch: 1 | Step: 0
Loss: 0.687447428703 at Epoch: 1 | Step: 20
Loss: 0.689199209213 at Epoch: 1 | Step: 40
Overall Average Loss: 0.689712703228 at Epoch: 1
Loss: 0.681926727295 at Epoch: 2 | Step: 0
Loss: 0.668727934361 at Epoch: 2 | Step: 20
Loss: 0.647350132465 at Epoch: 2 | Step: 40
Overall Average Loss: 0.674889683723 at Epoch: 2
Loss: 0.63601154089 at Epoch: 3 | Step: 0
Loss: 0.608234405518 at Epoch: 3 | Step: 20
Loss: 0.593071639538 at Epoch: 3 | Step: 40
Overall Average Loss: 0.638657689095 at Epoch: 3
Loss: 0.577009916306 at Epoch: 4 | Step: 0
Loss: 0.578892111778 at Epoch: 4 | Step: 20
Loss: 0.581489622593 at Epoch: 4 | Step: 40
Overall Average Loss: 0.612688839436 at Epoch: 4
Loss: 0.549013614655 at Epoch: 5 | Step: 0
Loss: 0.570038259029 at Epoch: 5 | Step: 20
Loss: 0.575555443764 at Epoch: 5 | Step: 40
Overall Average Loss: 0.593836128712 at Epoch: 5
Loss: 0.526914358139 at Epoch: 6 | Step: 0
Loss: 0.56396317482 at Epoch: 6 | Step: 20
Loss: 0.570190310478 at Epoch: 6 | Step: 40
Overall Average Loss: 0.584912419319 at Epoch: 6
Loss: 0.51433557272 at Epoch: 7 | Step: 0
Loss: 0.557445347309 at Epoch: 7 | Step: 20
Loss: 0.571662664413 at Epoch: 7 | Step: 40
Overall Average Loss: 0.582174420357 at Epoch: 7
Loss: 0.525627613068 at Epoch: 8 | Step: 0
Loss: 0.543232917786 at Epoch: 8 | Step: 20
Loss: 0.556832849979 at Epoch: 8 | Step: 40
Overall Average Loss: 0.57739084959 at Epoch: 8
Loss: 0.525994777679 at Epoch: 9 | Step: 0
Loss: 0.545738399029 at Epoch: 9 | Step: 20
Loss: 0.544856071472 at Epoch: 9 | Step: 40
Overall Average Loss: 0.570654571056 at Epoch: 9
Loss: 0.513692259789 at Epoch: 10 | Step: 0
Loss: 0.541399240494 at Epoch: 10 | Step: 20
Loss: 0.542103528976 at Epoch: 10 | Step: 40
Overall Average Loss: 0.563399195671 at Epoch: 10
Loss: 0.505694925785 at Epoch: 11 | Step: 0
Loss: 0.533120155334 at Epoch: 11 | Step: 20
Loss: 0.536459207535 at Epoch: 11 | Step: 40
Overall Average Loss: 0.557379901409 at Epoch: 11
Loss: 0.493396878242 at Epoch: 12 | Step: 0
Loss: 0.526925086975 at Epoch: 12 | Step: 20
Loss: 0.531074225903 at Epoch: 12 | Step: 40
Overall Average Loss: 0.551092982292 at Epoch: 12
Loss: 0.489806681871 at Epoch: 13 | Step: 0
Loss: 0.519273877144 at Epoch: 13 | Step: 20
Loss: 0.519293963909 at Epoch: 13 | Step: 40
Overall Average Loss: 0.545694589615 at Epoch: 13
Loss: 0.48345375061 at Epoch: 14 | Step: 0
Loss: 0.51608812809 at Epoch: 14 | Step: 20
Loss: 0.513243317604 at Epoch: 14 | Step: 40
Overall Average Loss: 0.541397333145 at Epoch: 14
Loss: 0.481462657452 at Epoch: 15 | Step: 0
Loss: 0.510341882706 at Epoch: 15 | Step: 20
Loss: 0.511853575706 at Epoch: 15 | Step: 40
Overall Average Loss: 0.537546873093 at Epoch: 15
Loss: 0.480911433697 at Epoch: 16 | Step: 0
Loss: 0.513807117939 at Epoch: 16 | Step: 20
Loss: 0.509938836098 at Epoch: 16 | Step: 40
Overall Average Loss: 0.534784376621 at Epoch: 16
Loss: 0.47408130765 at Epoch: 17 | Step: 0
Loss: 0.50886631012 at Epoch: 17 | Step: 20
Loss: 0.510581076145 at Epoch: 17 | Step: 40
Overall Average Loss: 0.530485510826 at Epoch: 17
Loss: 0.470617681742 at Epoch: 18 | Step: 0
Loss: 0.505066335201 at Epoch: 18 | Step: 20
Loss: 0.51499325037 at Epoch: 18 | Step: 40
Overall Average Loss: 0.52730178833 at Epoch: 18
Loss: 0.46736240387 at Epoch: 19 | Step: 0
Loss: 0.505021572113 at Epoch: 19 | Step: 20
Loss: 0.512701034546 at Epoch: 19 | Step: 40
Overall Average Loss: 0.524192869663 at Epoch: 19
Loss: 0.470387965441 at Epoch: 20 | Step: 0
Loss: 0.504788458347 at Epoch: 20 | Step: 20
Loss: 0.508899629116 at Epoch: 20 | Step: 40
Overall Average Loss: 0.523307919502 at Epoch: 20
Loss: 0.464465528727 at Epoch: 21 | Step: 0
Loss: 0.507555365562 at Epoch: 21 | Step: 20
Loss: 0.515251517296 at Epoch: 21 | Step: 40
Overall Average Loss: 0.52463054657 at Epoch: 21
Loss: 0.469170838594 at Epoch: 22 | Step: 0
Loss: 0.501567602158 at Epoch: 22 | Step: 20
Loss: 0.50456982851 at Epoch: 22 | Step: 40
Overall Average Loss: 0.526973605156 at Epoch: 22
Loss: 0.485012233257 at Epoch: 23 | Step: 0
Loss: 0.498085379601 at Epoch: 23 | Step: 20
Loss: 0.495019763708 at Epoch: 23 | Step: 40
Overall Average Loss: 0.523140490055 at Epoch: 23
Loss: 0.466693073511 at Epoch: 24 | Step: 0
Loss: 0.485822230577 at Epoch: 24 | Step: 20
Loss: 0.494245409966 at Epoch: 24 | Step: 40
Overall Average Loss: 0.514452755451 at Epoch: 24
Loss: 0.471115678549 at Epoch: 25 | Step: 0
Loss: 0.483766198158 at Epoch: 25 | Step: 20
Loss: 0.489568740129 at Epoch: 25 | Step: 40
Overall Average Loss: 0.512136101723 at Epoch: 25
Loss: 0.474546521902 at Epoch: 26 | Step: 0
Loss: 0.48164254427 at Epoch: 26 | Step: 20
Loss: 0.486355632544 at Epoch: 26 | Step: 40
Overall Average Loss: 0.511702656746 at Epoch: 26
Loss: 0.477392196655 at Epoch: 27 | Step: 0
Loss: 0.495191037655 at Epoch: 27 | Step: 20
Loss: 0.496343642473 at Epoch: 27 | Step: 40
Overall Average Loss: 0.518317103386 at Epoch: 27
Loss: 0.456563651562 at Epoch: 28 | Step: 0
Loss: 0.484345287085 at Epoch: 28 | Step: 20
Loss: 0.490119546652 at Epoch: 28 | Step: 40
Overall Average Loss: 0.513072371483 at Epoch: 28
Loss: 0.451302081347 at Epoch: 29 | Step: 0
Loss: 0.479845076799 at Epoch: 29 | Step: 20
Loss: 0.487130314112 at Epoch: 29 | Step: 40
Overall Average Loss: 0.506174564362 at Epoch: 29
Loss: 0.451211124659 at Epoch: 30 | Step: 0
Loss: 0.475132018328 at Epoch: 30 | Step: 20
Loss: 0.484574496746 at Epoch: 30 | Step: 40
Overall Average Loss: 0.502227902412 at Epoch: 30
Loss: 0.451631844044 at Epoch: 31 | Step: 0
Loss: 0.475101321936 at Epoch: 31 | Step: 20
Loss: 0.487421482801 at Epoch: 31 | Step: 40
Overall Average Loss: 0.498895674944 at Epoch: 31
Loss: 0.447932511568 at Epoch: 32 | Step: 0
Loss: 0.474938631058 at Epoch: 32 | Step: 20
Loss: 0.484663814306 at Epoch: 32 | Step: 40
Overall Average Loss: 0.497542649508 at Epoch: 32
Loss: 0.444742619991 at Epoch: 33 | Step: 0
Loss: 0.471693068743 at Epoch: 33 | Step: 20
Loss: 0.484110414982 at Epoch: 33 | Step: 40
Overall Average Loss: 0.493412494659 at Epoch: 33
Loss: 0.442980676889 at Epoch: 34 | Step: 0
Loss: 0.467999815941 at Epoch: 34 | Step: 20
Loss: 0.478754997253 at Epoch: 34 | Step: 40
Overall Average Loss: 0.492076158524 at Epoch: 34
Loss: 0.440233498812 at Epoch: 35 | Step: 0
Loss: 0.470312267542 at Epoch: 35 | Step: 20
Loss: 0.476249724627 at Epoch: 35 | Step: 40
Overall Average Loss: 0.489179372787 at Epoch: 35
Loss: 0.439033806324 at Epoch: 36 | Step: 0
Loss: 0.469206631184 at Epoch: 36 | Step: 20
Loss: 0.475227326155 at Epoch: 36 | Step: 40
Overall Average Loss: 0.49189427495 at Epoch: 36
Loss: 0.436659693718 at Epoch: 37 | Step: 0
Loss: 0.491647422314 at Epoch: 37 | Step: 20
Loss: 0.472197830677 at Epoch: 37 | Step: 40
Overall Average Loss: 0.505670905113 at Epoch: 37
Loss: 0.457237482071 at Epoch: 38 | Step: 0
Loss: 0.466650813818 at Epoch: 38 | Step: 20
Loss: 0.481216132641 at Epoch: 38 | Step: 40
Overall Average Loss: 0.500137031078 at Epoch: 38
Loss: 0.47481316328 at Epoch: 39 | Step: 0
Loss: 0.467495381832 at Epoch: 39 | Step: 20
Loss: 0.470978289843 at Epoch: 39 | Step: 40
Overall Average Loss: 0.496206909418 at Epoch: 39
Loss: 0.461064308882 at Epoch: 40 | Step: 0
Loss: 0.464761227369 at Epoch: 40 | Step: 20
Loss: 0.46520626545 at Epoch: 40 | Step: 40
Overall Average Loss: 0.491576761007 at Epoch: 40
Loss: 0.469571202993 at Epoch: 41 | Step: 0
Loss: 0.459188580513 at Epoch: 41 | Step: 20
Loss: 0.462537109852 at Epoch: 41 | Step: 40
Overall Average Loss: 0.486786901951 at Epoch: 41
Loss: 0.469054400921 at Epoch: 42 | Step: 0
Loss: 0.459449231625 at Epoch: 42 | Step: 20
Loss: 0.463728100061 at Epoch: 42 | Step: 40
Overall Average Loss: 0.484697341919 at Epoch: 42
Loss: 0.457308411598 at Epoch: 43 | Step: 0
Loss: 0.455283880234 at Epoch: 43 | Step: 20
Loss: 0.461940914392 at Epoch: 43 | Step: 40
Overall Average Loss: 0.485280305147 at Epoch: 43
Loss: 0.457079768181 at Epoch: 44 | Step: 0
Loss: 0.451515763998 at Epoch: 44 | Step: 20
Loss: 0.457645446062 at Epoch: 44 | Step: 40
Overall Average Loss: 0.482401043177 at Epoch: 44
Loss: 0.455950021744 at Epoch: 45 | Step: 0
Loss: 0.45035892725 at Epoch: 45 | Step: 20
Loss: 0.46109944582 at Epoch: 45 | Step: 40
Overall Average Loss: 0.482721477747 at Epoch: 45
Loss: 0.450999975204 at Epoch: 46 | Step: 0
Loss: 0.457892537117 at Epoch: 46 | Step: 20
Loss: 0.473802834749 at Epoch: 46 | Step: 40
Overall Average Loss: 0.484114319086 at Epoch: 46
Loss: 0.439380735159 at Epoch: 47 | Step: 0
Loss: 0.456071287394 at Epoch: 47 | Step: 20
Loss: 0.470109641552 at Epoch: 47 | Step: 40
Overall Average Loss: 0.479265272617 at Epoch: 47
Loss: 0.43844383955 at Epoch: 48 | Step: 0
Loss: 0.446683079004 at Epoch: 48 | Step: 20
Loss: 0.470870375633 at Epoch: 48 | Step: 40
Overall Average Loss: 0.478016227484 at Epoch: 48
Loss: 0.448094546795 at Epoch: 49 | Step: 0
Loss: 0.448546677828 at Epoch: 49 | Step: 20
Loss: 0.494729071856 at Epoch: 49 | Step: 40
Overall Average Loss: 0.481781721115 at Epoch: 49

In [50]:
# Make ppredictions
model.eval()
model.cpu()

SeqModel(
  (rnn): LSTM(300, 256, batch_first=True)
  (lin): Linear(in_features=256, out_features=64, bias=True)
  (dropout): Dropout(p=0.42)
  (out): Linear(in_features=64, out_features=2, bias=True)
)

In [51]:
model.predict('I am going to some place to take play a game')

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:24: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.

tensor([[ 1.0000e+00,  1.3468e-15]])

In [29]:
import sklearn.metrics

In [30]:
model.cpu()

v1 = model.get_embedding('I am going to a place')
v2 = model.get_embedding('I am not going')
print v1.shape, v2.shape

(1, 256) (1, 256)

In [16]:
sklearn.metrics.pairwise.cosine_distances(v1, v2)

AttributeError: 'module' object has no attribute 'metrics'

#### For self understanding for upper concepts

In [89]:
m= pd.DataFrame([],columns=['x','Abc','Ci'])
#print m
for ix in range(100):
    #m=m.append({'x':ix},{'Abc':ix**2},ignore_index=True)  #error append() got multiple values for keyword argument 'ignore_index'
    m=m.append({'x':ix},ignore_index=True)

In [90]:
m.head()

     x  Abc  Ci
0  0.0  NaN NaN
1  1.0  NaN NaN
2  2.0  NaN NaN
3  3.0  NaN NaN
4  4.0  NaN NaN

In [93]:
m['x_square']= a.x.apply(lambda x:x**2)
m['AbcPlus']= a.x.apply(lambda NaN: NaN+12)

In [94]:
m.head()

     x  Abc  Ci  x_square  AbcPlus
0  0.0  NaN NaN         0       12
1  1.0  NaN NaN         1       13
2  2.0  NaN NaN         4       14
3  3.0  NaN NaN         9       15
4  4.0  NaN NaN        16       16

In [153]:
str='This is  Chintan jain and i want to take a job in this 6 months only please help me '
m= str.split()
print m
print len(m)

['This', 'is', 'Chintan', 'jain', 'and', 'i', 'want', 'to', 'take', 'a', 'job', 'in', 'this', '6', 'months', 'only', 'please', 'help', 'me']
19

In [46]:
a= np.array([[1,2,3],[4,5,6],[7,8,9]])
print a.shape
print a[0][1]

(3, 3)
2